.headertablister{
    width: 1402px;
    height: 45px;
    left: 299px;
    top: 965px;
    margin: 200px;
    padding: 20px;
    margin-top: 250px;
    margin-left: -20px;

}
.summersales{
    position: absolute;
    width: 214px;
    left: 1340px;
    top: 584px;
    color: #699ba9;
    font-size: '20px' !important;
    font-weight: 'bold' !important;
}
.whitelist{
    .ant-tabs-nav .ant-tabs-tab-active {
        color: white !important ;
        font-weight: 500;
        outline: none;
      }
      .ant-tabs {
      color:#497a8b;
      }
}