.headertablister{
    width: 1402px;
    height: 45px;
    left: 299px;
    top: 965px;
    margin: 200px;
    padding: 20px;
    margin-top: 250px;
    margin-left: -20px;

}
.summersales{
    position: absolute;
    width: 214px;
    //height: -90px;
    left: 1150px;
    top: 398px;
}